@import "./index.scss";
@import "./variables.scss";

.general {
    display:flex;
    justify-content: space-between;
    color: $main-color;
    width: 1240px;
    gap: 10px;
    @media (max-width:768px) {
        width: 100%;
        flex-direction: column;
    }
    
}
.fiche-logement {
    display: flex;
    flex-direction: column;
    gap: 15px;
    @media (max-width:768px) {
        width: 90%;
    }
}
.info-logement {
    display: flex;
    flex-direction: column;
    width: 1240px;
    gap: 10px;

    p{
        margin: 0;
        @media (max-width:768px) {
            font-size: 14px;
        }
    }

    @media (max-width:768px) {
        width: 100%;
    }
}
.logement-title {
    font-size: 36px;
    margin: 0;
    font-weight: 400;

    @media (max-width:768px) {
        font-size: 18px;
    }
}

.logement-other {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;

    @media (max-width:768px) {
        width: 100%;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }
}
.info-host {
    display: flex;
    gap: 10px;
    align-items: center;
}

.pic-host {
    border-radius: 50%;
    height: 65px;
    width: 65px;
    @media (max-width:768px) {
        width: 32px;
        height: 32px;
    }
}
.rating {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.star{
    @media (max-width:768px) {
        width: 18px;
        height: 18px;
    }
}
// SlideShow
.slideshow {
    position: relative;
    width: 1240px;
    height: 415px;

    @media (max-width:768px) {
        width: 100%;
        height: 255px;
    }
    
}
.slide {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;

    @media (max-width:768px) {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
}

.slide-hidden{
    display: none;

}
.left, .right {
    @media (max-width:768px) {
        width: 20px;
    }
}
.left-button {
    position: absolute;
    top: 40%;
    right: 90%;
    background-color: transparent;

}

.right-button {
    position: absolute;
    top: 40%;
    left: 90%;
    background-color: transparent;
}
.number {
    position: absolute;
    right: 50%;
    top: 90%;
    color: $secondary-color;
    font-size: 18px;
}

// Tag
.tags-logement {
    display: flex;
    gap: 20px;
    
}
.tag-logement {
    background-color: $main-color;
    color: $secondary-color;
    border-radius: 10px;
    font-size: 14px;
    padding: 2px 20px;

    @media (max-width:768px) {
        font-size: 10px;
    }
}


button {
    border: none;
    background-color: #ff6060;
}

.down, .up {
    filter:invert(100%);
    height: 30px;
    @media (max-width:768px) {
        height: 20px;
    }
}

.ul-equipments {
    list-style-type: none;
    margin: 0;
    padding: 20px;

    li{
        padding:2px 0;
    }
}
.collapses-logement {
    display: flex;
    justify-content: space-between;
    width: 1240px;

    @media (max-width:768px) {
        width: 100%;
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }
}
.collapse-title {
    width: 530px;
    @media (max-width:768px) {
        width: 100%;
        font-size: 13px;
    }
}
.info {
    width: 570px;
    @media (max-width:768px) {
        width: 100%;
    }
}

.infoplus {
    width: 570px;
    height: 279px;
    @media (max-width:768px) {
        width: 100%;
    }
}
.name-host {
    text-align: right;
    margin: 0;
    font-size: 18px;

    @media (max-width:768px) {
        font-size: 12px;
    }
}