@import "./index.scss";
@import "./variables.scss";

.banniere {
    width: 1240px;
    height: 223px;
    position: relative;
    @extend %flex-row-center;
    
    img {
        width: 100%;
        border-radius: 25px;
        object-fit: cover;
       filter: brightness(0.75);

     
    }

    span {
        position: absolute;
        top: 35%;
        color: $secondary-color;
        font-size: 48px;

        @media (max-width: 768px) {
            font-size: 24px;
            padding-left: 16px;
            top: 25%;
        }
    }

    @media (max-width: 768px) {
        height: 111px;
        width: 90%;
    }
}

.liste-logement {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1240px;
    background-color: $bg-color-lightgrey;
    border-radius: 25px;
    gap: 50px 5px;
    padding: 56px 0;

    .card {
        height: 340px;
        width: 340px;
        position: relative;

        img {
            height: 100%;
            width: 100%;
            border-radius: 10px;
            object-fit: cover;
            filter: brightness(0.85);
        }

        span {
            position: absolute;
            padding-right: 50px;
            top: 85%;
            left: 5%;
            color: $secondary-color;
            font-size: 18px;
        }

        @media (max-width: 768px){
            width: 98%;
        }
    }

    @media (max-width: 768px) {
        width: 90%;
        display: flex;
        flex-direction: column;
        background-color: transparent;
        padding: 0;
        gap: 10px;
    }
}
