@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './variables.scss';

// General
body {
    width:1440px;
    gap: 30px;
    margin: auto;
    @extend %flex-row-center;

    @media (max-width: 768px) {
        width: 100%;
        margin: auto;
    }

}

#root {
    @extend %flex-column;
    font-family: 'Montserrat', sans-serif;

    @media (max-width: 768px) {
        width: 100%;
    }
}

main {
    @extend %flex-column;
    gap: 50px;
    margin: 50px 0 50px;
}

// Layout
.footer {
    padding: 25px 0;
    width: 100%;
    background-color: black;
    color: $secondary-color;
    @extend %flex-column;
    justify-content: space-between;
    gap: 50px;

    img {
        height: 50px;
    }

    @media (max-width: 768px) {
        width: 100%;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    width: 1240px;
    padding: 40px 110px 0;
    

    @media (max-width: 768px) {
        width: 100%;
        padding: 20px 20px 0 20px;
    }

    nav {
        display: flex;
        gap: 30px;
        font-size: 24px;
    }
    a {
        color: $main-color;
        text-decoration: none;
    }
    .active {
        text-decoration: underline;
    }

    
}
