@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './variables.scss';

// General
body {
    width:1440px;
    gap: 30px;
    margin: auto;
    @extend %flex-row-center;

    @media (max-width: 768px) {
        width: 100%;
    }

}

#root {
    @extend %flex-column;
    gap: 50px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 40px;
    

    @media (max-width: 768px) {
        width: 100%;
        margin-top: 20px;
        gap: 27px;
    }
}

main {
    @extend %flex-column;
    gap: 43px;

    @media (max-width: 768px) {
        width: 100%;
        gap: 22px;
    }

}

// Layout
.footer {
    padding: 25px 0;
    width: 1440px;
    background-color: black;
    color: $secondary-color;
    @extend %flex-column;
    justify-content: space-between;
    gap: 50px;

    img {
        height: 50px;
    }

    @media (max-width: 768px) {
        width: 100%;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    width: 1240px;
    
    @media (max-width: 768px) {
        width: 90%;
        font-size: 12px;
    }

    nav {
        display: flex;
        gap: 30px;
        font-size: 24px;

        @media (max-width: 768px) {
            font-size: 14px;
        }
    }
    a {
        color: $main-color;
        text-decoration: none;
    }
    .active {
        text-decoration: underline;
    }

    .logo {
        @media (max-width: 768px) {
            width: 100px;
        }
    }
    
}

.collapse-title {
    background-color: $main-color;
    color: $secondary-color;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-size: 24px;
    padding: 0 20px;
    justify-content: space-between;

    @media (max-width:768px) {
        width: 88%;
        font-size: 13px;
        height: 30px;
    }
    
}

.info {
    background-color: $bg-color-lightgrey;
    transition: height 0.5s;

    @media (max-width: 768px) {
        width: 100%;
    }
}

.infoplus {
    background-color: $bg-color-lightgrey;
    transition : height 0.5s;
    font-size: 18px;
    color: $main-color;
    border-radius: 5px;

    p {
        margin: 0;
        padding: 20px;
        @media (max-width: 768px) {
            margin: 0;
            padding: 10px;
            
        }


    }

    @media (max-width: 768px) {
        width: 100%;
        font-size: 12px;
        transition : height 0.5s;
        height: 150px;
    }
}